Repository FSTUM/finanztool-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

upgraded sftp-fileupload logging to hopefully also log to the mail-server instead to only the userspace
  rechnung/views.py
Due: mypy, pylint

added a officediscount shoppingcart
  aufgaben/forms.py
  aufgaben/templates/aufgaben/aufgaben/form_shoppingcart.html
  aufgaben/templates/aufgaben/aufgaben_base.html
  aufgaben/urls.py
  aufgaben/views.py
  common/forms.py
  common/migrations/0006_settings_officediscount_shoppingcart.py
  common/models.py
Due: mypy, pylint

v2.5 Release
  common/templates/common/common_dashboard.html
Due: none

Automated Change: updated pre-commit requirements
  .pre-commit-config.yaml
Due: none

Update finanztool-deployment.yaml
  staging/finanztool-deployment.yaml
Due: none

re-enabled staging
  staging/finanztool-deployment.yaml
Due: none

Automated Change: updated npm requirements
  node_modules/bootstrap-icons/font/bootstrap-icons.css
  node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff
  node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2
Due: none

made LOGIN_URL absolute instead of relative
  finanz/settings/base_settings.py
Due: mypy, pylint

added /login/ as a redirect url
  finanz/urls.py
Due: mypy, pylint

Automated Change: updated npm requirements
  node_modules/datatables.net/js/jquery.dataTables.min.js
Due: none

Automated Change: updated npm requirements
  node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css
Due: none

Automated Change: updated npm requirements
  node_modules/choices.js/public/assets/scripts/choices.min.js
  node_modules/choices.js/public/assets/styles/choices.min.css
Due: none

Automated Change: updated pre-commit requirements
  .pre-commit-config.yaml
  .pre-commit-only-line-endings-config.yaml
Due: none

added EPC QR-Codes to Rechnung
  common/migrations/0006_settings_officediscount_shoppingcart.py
  common/migrations/0007_settings_at_05_remittance_information_and_more.py
  common/models.py
  rechnung/migrations/0013_rechnung_epc_qr_code_alter_posten_anzahl_and_more.py
  rechnung/models.py
  rechnung/templates/rechnung/tex/latex_rechnung.tex
Due: mypy, pylint

fixed rechnungpdf_error to correctly display utf-8 binary strings
  rechnung/views.py
Due: mypy, pylint

integrated RR into rnr_string
  konto/parser.py
  konto/templates/konto/konto/mapping.html
  rechnung/models.py
  rechnung/templates/rechnung/mahnungen/view_mahnung.html
  rechnung/templates/rechnung/rechnungen/list/list_rechnungen.html
  rechnung/templates/rechnung/rechnungen/list/list_rechnungen_aufgaben_unerledigt.html
  rechnung/templates/rechnung/rechnungen/view_rechnung.html
  rechnung/templates/rechnung/tex/latex_rechnung.tex
  rechnung/views.py
Due: mypy, pylint

bumped CI to 3.10
  .github/workflows/main-ci.yml
  .github/workflows/npm_updates.yml
  .github/workflows/pre-commit_updates.yml
  setup.cfg
Due: none

fixed CI confusing 3.10 with 3.1
  .github/workflows/main-ci.yml
  .github/workflows/npm_updates.yml
  .github/workflows/pre-commit_updates.yml
Due: none

fixed more small CI errors
  common/migrations/0001_initial.py
  common/models.py
  getraenke/migrations/0001_initial.py
Due: mypy, pylint

Released v2.6
  common/templates/common/common_dashboard.html
Due: none

bugfix: properties are not loaded in a migration. we should rely on the post_save call instead ;)
  rechnung/migrations/0013_rechnung_epc_qr_code_alter_posten_anzahl_and_more.py
Due: mypy

Reduced the worker-amount availible in staging
  Dockerfile
Due: none

whitespace changes required by ci
  .github/dependabot.yml
  .github/workflows/git_sync.yml
  .github/workflows/main-ci.yml
  .github/workflows/npm_updates.yml
  .github/workflows/pre-commit_updates.yml
  .github/workflows/staging_build.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .pre-commit-only-line-endings-config.yaml
  staging/finanztool-configmap.yml
  staging/finanztool-deployment.yaml
  staging/finanztool-mediafiles-pv.yaml
  staging/finanztool-mediafiles-pvc.yaml
  staging/finanztool-middleware-https.yaml
  staging/finanztool-svc.yaml
  staging/finanztool_cert.yaml
  staging/finanztool_ingress-http.yaml
  staging/finanztool_ingress.yaml
Due: none

migrated from @paulhfischer's pre-commit-hooks to the dedicated hooks
  .eslintrc
  .pre-commit-config.yaml
  .prettierrc
  .stylelintrc
  aufgaben/templates/aufgaben/aufgaben_dashboard.html
  common/templates/common/qr-codes/list_qr_codes.html
  konto/templates/konto/referenten/list_referenten.html
  package.json
  rechnung/migrations/0013_rechnung_epc_qr_code_alter_posten_anzahl_and_more.py
  rechnung/templates/rechnung/rechnung_dashboard.html
  schluessel/templates/schluessel/schluessel_dashboard.html
  templates/snippets/true_false_none_span.html
  templates/snippets/true_false_span.html
Due: mypy

removed the gitlab ci. we dont use it, so we should not keep it..
  .gitlab-ci.yml
Due: none

added updated package-lock.json including the current status
  package-lock.json
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
